<div class="index-text">
  <h2>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</h2>
</div>
<section class="index-form">
  <div class="index-form-app-title-area">
    <h1 class="index-form-app-title">
      <%= link_to "Group continue", '/' %>
    </h1>
  </div>
  <div class="index-form-action">
    <ul>
      <li><%= link_to "アカウント作成", new_user_registration_path, class: "index-signup" %></li>
      <li><%= link_to "ログイン", new_user_session_path, class: "index-login" %></li>
    </ul>
  </div>
</section>