<header>
  
  <h1 class="app-title">
    <%= link_to "Group continue", '/' %>
  </h1>
  
  <nav id="navi">
    <ul>
      <li><%= link_to "ログアウト", destroy_user_session_path, class: "header-logout", method: :delete %></li>
    </ul>
  </nav>
  
</header>