<header>
  
  <h1 class="app-title">
    <%= link_to "Group continue", '/' %>
  </h1>
  
  <nav id="navi">
    <ul>
      <li><%= link_to "アカウント作成", "#", class: "header-signup" %></li>
      <li><%= link_to "ログイン", "#", class: "header-login" %></li>
    </ul>
  </nav>
  
</header>